body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255,248,237);
    margin: 0;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: rgb(28, 64, 46);
    height: 95%; 
    width: 15%;
    color:  rgb(255, 248, 237);
    text-align: center;
    padding: 20px; 
}

.sidebar-logo {
    align-self: flex-start;
    margin-bottom: 2px;
    width: 50px;
}

.sidebar-logo img {
    width: 100%; 
    height: auto; 
}

a {
    display: block;
    padding: 10px;
    color: rgb(255,248,237);
    text-decoration: none;
    margin-top: 10px;
}
.sidebar .sidebar-top{
    margin-top: 30%
}

.sidebar .sidebar-bottom{
    margin-top: 130%;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.stats .box:first-child {
    margin-left: 30px; 
}

.box{
    background-color: rgb(28, 64, 46);
    color: rgb(255,248,237);
    padding: 20px;
    width: calc(20% - 20px);
    margin-right: 20px;
    text-align: center;
    border-radius: 8px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    color: rgb(28, 64, 46);
    height: 65px;

}

.header h1 {
    margin-left: 30px;
}

.header p {
    font-size: larger;
}

.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.subheader a{
    padding: 0;
    color: rgb(23, 89, 23);
}

.subheader p{
    color: rgb(23, 89, 23);
}

.subheader .left text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.subheader .left{
    width: 27%;
    margin-left: 30px;
}

.subheader .right{
    margin-right: 30px;
}

.subheader text{
    color: rgb(23, 89, 23);
    font-weight: bold;
}
.subheader text{
    color: rgb(23, 89, 23);
}

.main-content{
    flex: 1;
    padding: 20px;
    background: rgb(255,248,237);
}

.recent-activities {
    background: rgb(28, 64, 46);
    padding: 20px;
    width: calc(97.5% - 60px);
    margin-left: 30px;
    margin-right: -20px;
    border-radius: 8px;
}

.recent-activities h2 {
    color: rgb(255,248,237);
    margin-bottom: 10px;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(255,248,237);
    
}

table thead {
    background-color: rgb(28, 64, 46);
    color: rgb(255,248,237);
}

table th,
table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #FFF8ED;
}

table td {
    border: none;
}

