@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 20px;
    box-sizing: 0;
    letter-spacing: 1px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.overall {
    display: flex;
    background: #1C402E;
}


.items {
    position: relative;
    flex: 2;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}


.side-menu {
    position: relative;
    background-color: #f1f1f1;
    padding: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    /*background-color: dodgerblue;*/
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}



.lost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/**/
body {
    display: flex;
    margin: 0;
    padding: 0;
}

.side-menu {
    background: #1C402E;
    color: white;
    padding: 20px;
}

.items {
    padding: 20px;
    background-color: #f5f5f5;
    flex-grow: 1;
}

.lost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item {
    background-color: cream;
    padding: 20px;
    text-align: center;
}



body {
    display: flex;
    margin: 0;
    padding: 0;
}

.side-menu {
    background: #1C402E;
    color: white;
    padding: 20px;
}

/*
.search-bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    align-items: baseline;
}

.search-bar input{
    margin-right: 10px;
}
*/
.items {
    padding: 20px;
    background-color: #f5f5f5;
    flex-grow: 1;
}

.lost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item {
    background-color: cream;
    padding: 20px;
    text-align: center;
}

/*       
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
*/

.pagination {
    position: absolute;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    /*background-color: dodgerblue;*/
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*
label{
    do something about the design of the label;
}
*/

.box select {
    background-color: #1C402E;
    color: white;
    padding: 12px;
    width: 120px;
    border-radius: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    font-family: FontAwesome;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 16px;
    padding-right: 16px;
    margin: 3.2em 0;
}

a {
    text-decoration: none;
    color: #fff;
}

hr {
    margin: -10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}